:root {
    --fuenteHealing: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;

    --primario: #784D3C;
    --Blanco: #ffffff;
    --Negro: #000000;

}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
}

.contenedor{
    max-width: 128rem;
    width: 90%;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

h1,h2,h3,h4{
    font-family: var(--fuenteHealing);
}

h1{
    font-size: 4.8rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3.2rem;
}
h4{
    font-size: 2.8rem;
}

img{
    width: 100%;
}

.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.centrar-centro{
    text-align: center;
}


.header {
    background-image: url(../imagenes/Trufas-de-chocolate-receta.jpg);
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.header__store {
    background-image: url(../imagenes/store\ imagen\ 1.webp);
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.header__texto{
    text-align: center;
    color: var(--Blanco);
    margin-top: 5rem;
}

.header__textostore{
    text-align: center;
    color: var(--Negro);
    margin-top: 5rem;
}


@media (min-width:768px){
    .Barra{
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
}


.logo{
    color: var(--Blanco);
}
.logo___nombre{
    font-weight: 400;
}
.logo___Black{
    font-weight: 700;
}

.footer{
    background-color:#D4CECD;
    padding: 1rem 0;
    margin-top: 2rem;
}
.footer__texto{
    text-align: center;
    font-size: 2.2rem;
}



.navegacion__enlace{
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--Blanco);
}

.navegacion__activa{
    font-weight: bold;
    color: #784D3C;
}

@media(min-width: 768px) {
    .navegacion{
        display: flex;
        gap: 2rem;
    }

    .header__texto{
      margin-top: 15rem;  
    }
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    gap: 2rem;

}
   

.producto{
background-color: antiquewhite;
padding: 1rem;
}

.producto__imagen{
width: 100%;
}

.producto__nombre{
font-size: 4rem;
color: rgb(224, 168, 94);
font-weight: bold;
}

.producto__precio{
font-size: 2.8rem;
color: #784D3C;
}

.producto__nombre,.producto__precio{
    margin: 1rem 0;
    text-align: center;
}

.grafico{
min-height: 30rem;
background-repeat: no-repeat;
background-size: cover;

}
  .grafico__trufas{
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    background-image: url();
  }
@media (min-width: 760px) {
  .grafico__trufas{
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    background-image: url(../imagenes/Trufas-de-chocolate-receta.jpg);
}  
}



.nosotros{
display: grid;
grid-template-rows: repeat(2, 1fr);
}

@media (min-width:760px) {
    .nosotros{
grid-template-columns: repeat(2, 1fr);
column-gap: 2rem;
}
}

.nosotros__contenido{

}

.nosotros__imagen{
grid-row: 1 / 2;
}
@media (min-width:760px) {
    .nosotros__imagen{
        grid-column: 2 / 3;
    }
}


/** Pagina del Producto **/
@media (min-width: 768px) {
    .camisa {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

.formulario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
.formulario__campo {
   border: 1rem solid #D4CECD;
   background-color: transparent;
   color: var(--blanco);
   font-size: 2rem;
   font-family: Arial, Helvetica, sans-serif;
   padding: 1rem;
   appearance: none;
}
.formulario__submit {
    background-color: antiquewhite;
    border: none;
    font-size: 2rem;
    padding: 2rem;
    transition: background-color .3s ease;
    grid-column: 1 / 3;
}
.formulario__submit:hover {
    cursor: pointer;
    background-color: antiquewhite;
}